html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


@font-face {
    font-family: 'SF_HambakSnow';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BagelFatOne-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_JAMO@1.0/BagelFatOne-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ownglyph_corncorn-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2412-1@1.0/Ownglyph_corncorn-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #2d3142;
    cursor: pointer;
}

.mainDiv {
    border-bottom: 1px solid rgba(164, 169, 191, 0.615);
    box-sizing: border-box;
}




.mainDiv:last-child {
    border: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2d3142;
    color: #ffffff;
    padding: 20px 0;
}

h1 {
    font-family: 'BagelFatOne-Regular';
    font-size: 3em;
    font-weight: bolder;
}

ul {
    display: flex;
    margin-top: 20px;
}

li {
    font-family: 'BagelFatOne-Regular';
    font-size: 1em;
    list-style-type: none;
    margin: 0 50px;
}

button {
    position: fixed;
    bottom: 20px;
    right: 430px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    background-color: #ef8354;
    font-size: 1.5em;
    font-weight: bolder;
    border: 0;
}

.list {
    font-family: 'Ownglyph_corncorn-Rg';
    margin: 124px auto;
    margin-bottom: 50px;
    background-color: white;
    width: 700px;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 20px 20px;
}



.titleDiv {
    font-size: 1.2em;
    font-weight: 600;
    color: #2d3142;

}

.contentDiv {
    margin: 0 20px 20px 20px;
}

.upDiv {
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 5px 20px;
}

.T1 {
    color: red;
}

.GEN {
    color: gold;
}

.HLE {
    color: orange;
}